In [1]:
import requests

url = 'https://api.darksky.net/forecast/61f22866705425aaba811325d3a0c813/'

lat = 42.3601
lng = -71.0589

In [2]:
# Get month
# month = input('Pick a month, please use two digits')
# day = input('Pick a day, please use two digits')
# year = input('Pick a year, please use 4 digits')

# formatted_date = "1984-11-29T12:00:00"
# formatted_date = "%s-%s-%sT12:00:00" % (year, month, day)
# formatted_date

In [3]:
def format_date():
    month = input('Pick a month, please use two digits: ')
    day = input('Pick a day, please use two digits: ')
    year = input('Pick a year, please use four digits: ')
    formatted_date = "%s-%s-%sT12:00:00" % (year, month, day)
    return formatted_date

In [4]:
date = format_date()

Pick a month, please use two digits: 11
Pick a day, please use two digits: 29
Pick a year, please use four digits: 1984

In [5]:
date

'1984-11-29T12:00:00'

In [6]:
r = requests.get(url + str(lat) + ',' + str(lng) + ',' + date)
r

In [7]:
results = r.json()
daily = results['daily']['data'][0]

In [8]:
daily

{'apparentTemperatureMax': 54.67,
 'apparentTemperatureMaxTime': 470595600,
 'apparentTemperatureMin': 34.66,
 'apparentTemperatureMinTime': 470631600,
 'cloudCover': 0.73,
 'dewPoint': 42.99,
 'humidity': 0.79,
 'icon': 'rain',
 'moonPhase': 0.23,
 'precipIntensity': 0.0133,
 'precipIntensityMax': 0.19,
 'precipIntensityMaxTime': 470584800,
 'precipProbability': 0.8,
 'precipType': 'rain',
 'pressure': 1004.91,
 'summary': 'Rain in the morning.',
 'sunriseTime': 470577238,
 'sunsetTime': 470610884,
 'temperatureMax': 54.67,
 'temperatureMaxTime': 470595600,
 'temperatureMin': 41.87,
 'temperatureMinTime': 470631600,
 'time': 470552400,
 'visibility': 8.45,
 'windBearing': 186,
 'windSpeed': 6.62}

In [9]:
# Work with high, low, icon
high = []
low = []
icon = []

In [10]:
high.append(daily['temperatureMax'])
low.append(daily['temperatureMin'])
icon.append(daily['icon'])

In [11]:
high

[54.67]

In [12]:
low

[41.87]

In [13]:
high

[54.67]

In [14]:
icon

['rain']

In [18]:
import pandas as pd
df = pd.DataFrame({'high': high, 'low': low, 'icon': icon})
df

    high  icon    low
0  54.67  rain  41.87

## Modifying this to be able to go for multiple years

In [23]:
# Create a function that returns a list of dates, not just a single one
def format_dates(ending_year = 2016):
    """Returns a list of dates formatted for the Dark Sky API request. Will use 2016 as the ending year unless otherwise specified"""
    formatted_dates = []
    month = input('Pick a month, please use two digits: ')
    day = input('Pick a day, please use two digits: ')
    year = input('Pick a year, please use four digits: ')
    for y in range(int(year), ending_year + 1):
        formatted_date = "%s-%s-%sT12:00:00" % (y, month, day)
        formatted_dates.append(formatted_date)
    return formatted_dates

In [27]:
all_dates = format_dates()
all_dates

Pick a month, please use two digits: 11
Pick a day, please use two digits: 29
Pick a year, please use four digits: 1984

['1984-11-29T12:00:00',
 '1985-11-29T12:00:00',
 '1986-11-29T12:00:00',
 '1987-11-29T12:00:00',
 '1988-11-29T12:00:00',
 '1989-11-29T12:00:00',
 '1990-11-29T12:00:00',
 '1991-11-29T12:00:00',
 '1992-11-29T12:00:00',
 '1993-11-29T12:00:00',
 '1994-11-29T12:00:00',
 '1995-11-29T12:00:00',
 '1996-11-29T12:00:00',
 '1997-11-29T12:00:00',
 '1998-11-29T12:00:00',
 '1999-11-29T12:00:00',
 '2000-11-29T12:00:00',
 '2001-11-29T12:00:00',
 '2002-11-29T12:00:00',
 '2003-11-29T12:00:00',
 '2004-11-29T12:00:00',
 '2005-11-29T12:00:00',
 '2006-11-29T12:00:00',
 '2007-11-29T12:00:00',
 '2008-11-29T12:00:00',
 '2009-11-29T12:00:00',
 '2010-11-29T12:00:00',
 '2011-11-29T12:00:00',
 '2012-11-29T12:00:00',
 '2013-11-29T12:00:00',
 '2014-11-29T12:00:00',
 '2015-11-29T12:00:00',
 '2016-11-29T12:00:00']

In [31]:
high = []
low = []
icon = []

# Make a request for each date, and append the desired values into the appropriate list
for date in all_dates:
    # make the request
    r = requests.get(url + str(lat) + ',' + str(lng) + ',' + date)
    # convert to JSON
    results = r.json()
    # store daily results in their own variable to make things easier
    daily = results['daily']['data'][0]
    # append values
    high.append(daily['temperatureMax'])
    low.append(daily['temperatureMin'])
    icon.append(daily['icon'])

In [33]:
# create a dataframe using a dictionary of all your values
weather = pd.DataFrame({'high': high, 'low': low, 'icon': icon}, index = all_dates)

In [34]:
weather

                      high                 icon    low
1984-11-29T12:00:00  54.67                 rain  41.87
1985-11-29T12:00:00  33.62                 snow  30.32
1986-11-29T12:00:00  55.18    partly-cloudy-day  39.26
1987-11-29T12:00:00  46.06                 rain  33.55
1988-11-29T12:00:00  48.64    partly-cloudy-day  35.29
1989-11-29T12:00:00  37.29    partly-cloudy-day  20.69
1990-11-29T12:00:00  66.89                 rain  40.66
1991-11-29T12:00:00  50.97    partly-cloudy-day  43.10
1992-11-29T12:00:00  48.34  partly-cloudy-night  34.81
1993-11-29T12:00:00  54.00  partly-cloudy-night  33.50
1994-11-29T12:00:00  53.63  partly-cloudy-night  44.68
1995-11-29T12:00:00  36.14                 snow  28.42
1996-11-29T12:00:00  36.33    partly-cloudy-day  23.60
1997-11-29T12:00:00  44.88            clear-day  36.00
1998-11-29T12:00:00  45.74  partly-cloudy-night  38.41
1999-11-29T12:00:00  44.07  partly-cloudy-night  32.33
2000-11-29T12:00:00  48.38                 rain  37.00
2001-11-29T12:00:00  53.27                  fog  39.54
2002-11-29T12:00:00  40.44    partly-cloudy-day  24.13
2003-11-29T12:00:00  61.08                 wind  37.99
2004-11-29T12:00:00  48.95  partly-cloudy-night  34.51
2005-11-29T12:00:00  61.11    partly-cloudy-day  47.02
2006-11-29T12:00:00  59.85               cloudy  39.69
2007-11-29T12:00:00  49.63    partly-cloudy-day  36.61
2008-11-29T12:00:00  43.49    partly-cloudy-day  31.72
2009-11-29T12:00:00  52.35  partly-cloudy-night  39.83
2010-11-29T12:00:00  44.60  partly-cloudy-night  34.33
2011-11-29T12:00:00  65.81                 rain  54.02
2012-11-29T12:00:00  42.40  partly-cloudy-night  32.67
2013-11-29T12:00:00  33.12            clear-day  24.15
2014-11-29T12:00:00  33.39  partly-cloudy-night  23.93
2015-11-29T12:00:00  42.33  partly-cloudy-night  32.20
2016-11-29T12:00:00  57.96                 rain  36.14